* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

:root {
    --primary-color: #fff;
    --secondary-color: #333;
    --tercer-color: #F9B233;
    --four-color: #F2A516;
}

.circle-theme {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: var(--tercer-color);
    clip-path: circle(1000px at right 1000px);
}

.dark-theme {
    --primary-color: #000106;
    --secondary-color: #fff;
    --tercer-color: #5DD4F5;
    --four-color: #54BEFF;
    /*    --tercer-color: #5FCDD9;
    --four-color: #0FC2C0;*/

}

ul .sci li a {
    color: var(--secondary-color);
}

#icon {
    width: 30px;
    cursor: pointer;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo {
    cursor: pointer;
    max-width: 100px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    display: inline-block;
    list-style: none;
    margin: 10px, 20px;
}

header ul li a {
    display: inline-block;
    color: var(--secondary-color);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    flex: 1;
    text-align: right;
}

header ul li a:hover {
    color: var(--four-color);
}


.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: var(--secondary-color);
    font-size: 2em;
    line-height: 1.4em;
    font-weight: 500;
    position: relative;
}

.content .textBox h2 span {
    color: var(--tercer-color);
    font-size: 1.2em;
    font-weight: 900;
    cursor: pointer;
}

.content .textBox h2 span:hover {
    color: var(--four-color);
}


.content .textBox p {
    color: var(--secondary-color);
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: var(--tercer-color);
    color: var(--primary-color);
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .textBox a:hover {
    background-color: var(--four-color);
}


.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-start;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img {
    max-width: 370px;
}

.circle {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: var(--tercer-color);
    clip-path: circle(600px at right 800px);
}

.circle:hover {
    background-color: var(--four-color);
    /*   transition: bottom 1s;
    transform: translateY(-0.5%);*/
    clip-path: circle(1000px at right 1000px);

}

.circle:hover .back {
    bottom: 40px;
}

.sci {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);

}